<div class="login-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <div class="logo-container" fxFlexAlign="center">
    <app-tccg-logo></app-tccg-logo>
    <span>防疫追蹤溯源實名登記</span>
  </div>
  <mat-card fxFlexAlign="center">
    <mat-card-content>
      <mat-tab-group #tabGroup dynamicHeight>
        <mat-tab label="快速登入">
          <form class="login-form" [formGroup]="loginGuestUserFormGroup">
            <mat-form-field class="login-field">
              <mat-label>行動電話</mat-label>
              <span matPrefix>+886 &nbsp;</span>
              <input #phone matInput type="tel" maxlength="10" placeholder="0911111111" formControlName="phone"/>
            </mat-form-field>
          </form>
          <form class="login-form" [formGroup]="loginGuestUserFormGroup">
            <mat-form-field class="login-field">
              <mat-label>專屬密碼</mat-label>
              <input #phone_token matInput type="password" formControlName="phone_token"/>
            </mat-form-field>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="login-field" 
              [disabled]="loginGuestUserFormGroup.invalid" 
              (click)="loginGuestUser(phone.value, phone_token.value)">
        登入
      </button>
    </mat-card-actions>
  </mat-card>
</div>