<mat-toolbar id="toolbar" color="primary">
  <mat-form-field>
    <mat-select placeholder="特定地點" [(value)]="currentLocation">
      <mat-option *ngFor="let location of locations | async" [value]="location">
        {{ location.location }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div class="scan-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
    <mat-card fxFlexAlign="center">
        <mat-card-content>
          <zxing-scanner 
            [formats]="['CODE_128', 'QR_CODE']"
            (camerasFound)="camerasFoundHandler($event)"
            (scanSuccess)="scanSuccessHandler($event)"
          ></zxing-scanner>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
