@import '~@angular/material/theming';

#toolbar {
    @include mat-elevation(4);
    height: 10vh;
}

.form-field {
    width: 100%;
}

.scan-page {
    height: auto;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.toolbar-text {
    font-size: 5vmin;
}

.spacer {
    flex: 1 1 auto;
}

.info-container {
    display: flex;
    width: 100%;
}

.crowd-chart {
  position: fixed;
  top: auto;
  right: 0px;
  bottom: 5px;
  left: auto;
}
