@import '~@angular/material/theming';

#toolbar {
    @include mat-elevation(4);
}

#sidenav {
    @include mat-elevation(8);
    width: 300px;
}

.form-field {
    width: 100%;
}

.scan-page {
    height: auto;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}
