<mat-toolbar id="toolbar" color="primary">
  <span class="toolbar-text">Scanner</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu"
          matTooltip="選單">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchShowQRCode()">
      <mat-icon>qr_code</mat-icon>
      <span>顯示行動條碼</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="scan-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <mat-card fxFlexAlign="center">
    <div class="info-container">
      <mat-form-field class="form-field">
        <mat-select #locationSelect placeholder="特定場所" [(value)]="currentLocation">
          <mat-optgroup *ngFor="let building of buildings" 
                        [label]="building.building">
            <mat-option *ngFor="let location of building?.locations" [value]="location">
              {{ location.location }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu"
              matTooltip="切換相機鏡頭" matTooltipPosition="left">
        <mat-icon>flip_camera_ios</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let availableDevice of availableDevices" mat-menu-item 
                (click)="currentDevice = availableDevice">
          <span>{{ availableDevice.label }}</span>
        </button>
      </mat-menu>
    </div>
    <mat-card-content>
      <zxing-scanner class="scanner"
        [(device)]="currentDevice"
        [formats]="['CODE_128', 'QR_CODE']"
        (camerasFound)="onCamerasFound($event)"
        (scanSuccess)="scanSuccessHandler($event)"
      ></zxing-scanner>
      <mat-form-field class="form-field">
        <mat-label>條碼輸入</mat-label>
        <input #scanner matInput type="password" (keyup.enter)="scanSuccessHandler(scanner.value)"/>
        <mat-hint>註：可直接輸入身分(或居留)證號後按Enter</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="focusScanner()">
        使用掃描器
      </button>
    </mat-card-actions>
  </mat-card>
</div>