<mat-toolbar id="toolbar" color="primary">
  <span class="toolbar-text">QR Code ({{ qrCreatedDate | date: 'yyyy/MM/dd' }})</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu"
          matTooltip="選單">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item 
            [disabled]="currentUser.type != 0"
            (click)="switchQRCodeScanner()">
      <mat-icon>qr_code_scanner</mat-icon>
      <span>切換為條碼掃描器</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="qrcode-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <mat-card fxFlexAlign="center">
    <mat-card-content>
      <img class="qrcode-image" [src]="qrCodeImageUrl | async">
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field class="form-field">
        <mat-chip-list #chipList aria-label="加入同行者">
          <mat-chip *ngFor="let follower of followers" color="primary"
                    [selectable]="selectable" [removable]="removable" 
                    (removed)="remove(follower)">
            {{ follower }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input #followerInput placeholder="請輸入同行者姓名"
                 [formControl]="followerCtrl"
                 [matAutocomplete]="auto"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add(followerInput.value)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let follower of filteredFollowers | async" [value]="follower">
            {{ follower }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="primary" 
              (click)="add(followerInput.value)">
        加入同行者
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-fab class="mat-fab-bottom-right" color="accent" 
        [matMenuTriggerFor]="shareMenu" matTooltip="友善連結">
  <mat-icon>bookmark</mat-icon>
</button>
<mat-menu #shareMenu="matMenu" yPosition="above">
  <a mat-menu-item href="https://tcpass.taichung.gov.tw/" target="_blank">
    <mat-icon>home</mat-icon>
    <span>台中e指通</span>
  </a>
</mat-menu>
