<mat-toolbar id="toolbar" color="primary">
  <span class="toolbar-text">QR Code ({{ qrCreatedDate | date: 'yyyy/MM/dd' }})</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu"
          matTooltip="選單">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item 
            [disabled]="currentUser.type != 0"
            (click)="switchQRCodeScanner()">
      <mat-icon>qr_code_scanner</mat-icon>
      <span>切換為條碼掃描器</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="qrcode-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <mat-card fxFlexAlign="center">
    <mat-card-content>
      <img class="qrcode-image" [src]="qrCodeImageUrl | async">
      <span>提醒您，可以使用最後一封驗證簡訊網址再次登入</span>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
