@import '~@angular/material/theming';

#toolbar {
    @include mat-elevation(4);
    height: 10vh;
}

.form-field {
    width: 100%;
}

.qrcode-page {
    height: auto;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.qrcode-image {
    width: 100%;
    max-width: 800px;
}

.toolbar-text {
    font-size: 5vmin;
}

.spacer {
    flex: 1 1 auto;
}
