@import '~@angular/material/theming';

#toolbar {
    @include mat-elevation(4);
}

.qrcode-page {
    height: auto;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.qrcode-image {
    width: 100%;
    max-width: 800px;
}
