.login-page {
    height: 100%;
    width: 100%;
    margin: auto;
}

.logo-container {
    height: auto;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.login-field {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
